body {
  background: #2d2d2d;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  margin-top: 0;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.1rem;
}

h2 {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9rem;
}

header {
  height: 45px;
  background: #000;
  display: flex;
  padding: 35px;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 50px;
}

.logo {
  color: #ffe500;
  font-style: italic;
  font-weight: bold;
  font-size: 3.4rem;
}

.graphs {
  display: flex;
  justify-content: space-between;
}

.graph {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calories .unfilled {
  height: 165px;
  background: #726a1e;
  width: 55px;
}

.calories .filled {
  height: 90px;
  background: #ffe500;
  width: 55px;
  display: inline-block;
}

.calories h2 {
  color: #ffe500;
}

.daily-goals {
  margin: 0 auto;
  padding: 17px 35px;
}

.steps .unfilled {
  height: 40px;
  background: #1e724c;
  width: 52px;
}

.steps .filled {
  height: 215px;
  background: #00ff8c;
  width: 52px;
  display: inline-block;
}

.steps h2 {
  color: #00ff8c;
}

.distance .unfilled {
  height: 135px;
  background: #205f68;
  width: 55px;
}

.distance .filled {
  height: 220px;
  background: #00e0ff;
  width: 55px;
  display: inline-block;
}

.distance h2 {
  color: #00e0ff;
}

.watts .unfilled {
  height: 80px;
  background: #5d1b81;
  width: 55px;
}

.watts .filled {
  height: 175px;
  background: #a600ff;
  width: 55px;
  display: inline-block;
}

.watts h2 {
  color: #a600ff;
}

.daily-goals-container {
  background-color: #eae8e8;
  padding: 1em 0 1em;
  box-sizing: border-box;
}

.menu {
  height: 10vh;
  width: 100%;
  background-color: white;
}

.set-goals {
  width: 100%;
  padding: 2vh;
  background-color: #a502ff;
  color: white;
}

.daily-goals-box {
  text-align: center;
  box-sizing: border-box;
  padding: 1.2vh 4vh;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.daily-goals-box h1{
  color: black
}

.daily-goals-divider {
  justify-content: space-between;
  display: flex
}

.goals {
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: .7em;
}

.upvote, .downvote {
  height: 2em;
}